.venv/
pycache/
*.pyc
*.pyo
.idea/
*.iml
runs/
*_openvino_model/
*.pt
*.onnx
*.bin
*.xml
*.mp4
*.avi
*.mov
*.mkv
!assets/videos/demo.mp4
*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.npy
*.npz
!assets/models/.xml
!assets/models/.bin
